.connect {
  @apply bg-black;
}

.connect-map {
  height: 300px;

  & .huge_it_google_map_container,
  & .huge_it_google_map {
    height: 100% !important;
  }
}

@include media('>=#{$lg}') {
  .connect-info {
    max-width: 350px;
    & address {
      padding: 10rem;
    }
  }

  .connect-map {
    margin-right: 200px;
  }

  .connect-social {
    margin-top: 4rem;
    margin-left: 174px;
  }
}

.gm-style > div:first-child > div:last-child {
  display: none !important;
}