@include media('>=#{$lg}') {
  h1.news-title {
    font-size: 3.25vw;
  }
}

.news-slider {
  height: 200px;
}

.news-slider .slick-list,
.news-slider .slick-track {
  height: 100%;
}

.news-slider .slick-slide {
  height: 100%;
  width: auto;
  margin-right: 4rem;
}


@include media('>=#{$md}') {
  .news-slider {
    height: 400px;
  }
}

@include media('>=#{$lg}') {
  .news-main {
    width: calc(100% - 200px);
  }

  .news-slider {
    width: calc(100% + 5vw);
  }

  .news-slider .slick-slide {
    margin-right: 6rem;
  }
}

@include media('>=1334px') {
  h1.news-title {
    font-size: 11rem;
  }

  .news-slider {
    width: calc(100% + ((100vw - 1200px) / 2));
    height: 500px;
  }
}