@keyframes grow {
  from {
    transform-origin: top center;
    transform: scaleY(0);
  }
  to {
    transform-origin: top center;
    transform: scaleY(1);
  }
}

.project-bar {
  position: absolute;
  left: 0;
  width: 1rem;
  background-color: $primary;
  bottom: 50%;
  height: 55rem;
  animation: grow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s 1 both;
}

.project-header {
  height: 85vh;
}

.project-nav {
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

.project-slider .slick-slide {
  width: calc(100vw - 43px);
  margin-right: 4rem;
}

.project-content {
  width: 90vw;
  max-width: 230rem;
  margin-left: auto;
  margin-right: 5vw;
}

.project-content p {
  @apply mb-4 leading-normal;
}

@include media('>=#{$md}') {
  .project-bar {
    position: absolute;
    left: 0;
    width: 1rem;
    background-color: $primary;
    bottom: 50%;
    height: 75rem;
  }

  .project-slider .slick-slide {
    width: calc(100vw - 63px);
    margin-right: 4rem;
  }
}

@include media('>=#{$lg}') {
  .project-header {
    height: 96vh;
  }
  .project-nav {
    right: 0;
    top: 0;
    transform: translateX(calc(100% + 8rem));
  }

  .project-slider {
    margin-top: -17.5rem;
    margin-left: auto;
    width: 95vw;
    max-width: calc(230rem + 5vw);
  }

  .project-slider .slick-slide {
    width: 60vw;
    margin-right: 6rem;
  }
}
