[data-menu-style="light"] .page-name {
  @apply text-white;
}

[data-menu-style="dark"] .page-name {
  @apply text-black;
}

// .nav__menu {
//   margin: -0.5rem 0;

//   & .nav__menu__wrapper {
//     display: flex;
//     list-style-type: none;
//     margin: 0;

//     & > .menu-item {
//       line-height: 1;
//       position: relative;
//       margin-left: 9rem;

//       & > a {
//         color: $primary-color;
//         text-decoration: none;
//         font-size: 4.5rem;
//         font-family: $sans-font;
//         text-transform: uppercase;
//         letter-spacing: 0.5rem;

//         &:hover {
//           font-weight: bold;
//         }
//       }

//       &:hover > .sub-menu {
//         visibility: visible;
//         opacity: 1;
//       }
//     }
//   }

//   & .sub-menu {
//     position: absolute;
//     top: calc(100% + 5.5rem);
//     left: 0;
//     min-width: 180px;
//     padding: 6rem;
//     background-color: $primary-color;
//     z-index: 999;
//     visibility: hidden;
//     opacity: 0;
//     transition: all 0.3s cubic-bezier(0.19, 0.66, 0.67, 0.98);

//     &:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       height: 4rem;
//       width: 4rem;
//       top: -4rem;
//       border-left: 10px solid $primary-color;
//       border-bottom: 10px solid $primary-color;
//       border-top: 10px solid transparent;
//       border-right: 10px solid transparent;
//     }

//     &:after {
//       content: '';
//       position: absolute;
//       height: 5rem;
//       width: 100%;
//       top: -5rem;
//       left: 0;
//     }

//     & li {
//       margin-bottom: 3rem;

//       &:last-child {
//         margin-bottom: 0;
//       }
//     }

//     & a {
//       color: $white;
//       text-decoration: none;
//       font-size: 3.5rem;
//       font-family: $sans-font;
//       letter-spacing: 0.125rem;

//       &:hover {
//         font-weight: bold;
//       }
//     }
//   }
// }

// .theme--dark .nav__menu {
//   & .nav__menu__wrapper > .menu-item {
//     & > a {
//       color: $white;
//     }
//   }

//   & .sub-menu {
//     background-color: $white;

//     &:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       height: 4rem;
//       width: 4rem;
//       top: -4rem;
//       border-left: 10px solid $white;
//       border-bottom: 10px solid $white;
//       border-top: 10px solid transparent;
//       border-right: 10px solid transparent;
//     }

//     & a {
//       color: $primary-color;
//     }
//   }
// }

// @include media('<1200px') {
//   .nav__menu .nav__menu__wrapper > .menu-item {
//     margin-left: 8rem;

//     & > a {
//       font-size: 4rem;
//     }
//   }
// }

// @include media('<1040px') {
//   .header {
//     height: 20rem;
//     padding: 6rem 4vw;
//   }
//   .nav__menu {
//     & .sub-menu {
//       top: calc(100% + 5.5rem);

//       &:before {
//         content: '';
//         position: absolute;
//         left: 0;
//         height: 3rem;
//         width: 3rem;
//         top: -3rem;
//         border-left: 8px solid $primary-color;
//         border-bottom: 8px solid $primary-color;
//         border-top: 8px solid transparent;
//         border-right: 8px solid transparent;
//       }

//       &:after {
//         content: '';
//         position: absolute;
//         height: 6rem;
//         width: 100%;
//         top: -6rem;
//         left: 0;
//       }
//     }
//   }
// }

// @include media('<950px') {
//   .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 999;
//   }
//   .nav__menu {
//     text-align: right;
//     background-color: $primary-color;
//     position: fixed;
//     right: 0;
//     top: 20rem;
//     left: 100vw;
//     padding: 10rem 8rem;
//     width: 100vw;
//     height: calc(100vh - 19.5rem);
//     overflow-y: scroll;
//     overflow-x: hidden;
//     transition: all 0.3s cubic-bezier(0.19, 0.66, 0.67, 0.98);

//     .nav--open & {
//       transform: translateX(-100vw);
//     }

//     .nav__menu__wrapper {
//       flex-direction: column;

//       & > .menu-item {
//         margin: 0 0 6rem;

//         &:last-child {
//           margin-bottom: 0;
//         }

//         & > a {
//           font-size: 5.25rem;
//         }

//         & a {
//           color: $white;
//         }
//       }
//     }

//     & .sub-menu {
//       position: static;
//       min-width: 0;
//       padding: 6rem 0 2rem;
//       background-color: transparent;
//       visibility: visible;
//       opacity: 1;

//       &:before {
//         display: none;
//       }

//       &:after {
//         display: none;
//       }

//       & .menu-item {
//         margin-bottom: 3.6rem;

//         &:last-child {
//           margin-bottom: 0;
//         }
//       }
//     }
//   }

//   .theme--dark .nav__menu {
//     & .sub-menu {
//       background-color: $primary-color;

//       & a {
//         color: $white;
//       }
//     }
//   }
// }

// @include media('<500px') {
//   .header {
//     height: 15rem;
//     padding: 3rem 4rem;
//   }

//   .nav__menu {
//     top: 15rem;
//     height: calc(100vh - 14.5rem);
//   }
// }
