.page-name {
  transition: all #{$animation-base} ease-in;
}

.nav--open .page-name {
  @apply opacity-0;
}

.home .page-name {
  @apply text-white;
}

.menu-wrapper {
  @apply opacity-0;
  z-index: -1;
  transform: translateX(100%);
}

.nav {
  & .menu-item {
    @apply pt-6 leading-none opacity-0 cursor-pointer;
    transform: translateY(20px);
    transition: none;
  }

  & .menu-item a {
    @apply text-white no-underline font-bold leading-none block;
    font-size: 8vw;
  }

  & .menu-item:hover a {
    @apply opacity-50;
  }

  & .menu-item.active a {
    @apply text-primary;
  }
}

.menu-aside {
  @apply opacity-0;
  transition: none;
  max-width: 1100px;
}

.menu-tagline {
  top: 7rem;
  left: 15.5rem;
}

.nav--open {
  & .menu-wrapper {
    @apply z-30;
    opacity: 0.98;
    transform: translateX(0);
  }

  & .menu-aside {
    @apply opacity-100;
    transition: all #{$animation-base} ease-in 0.7s;
  }

  & .menu-item {
    @apply opacity-100;
    transform: translateY(0);
    transition: all #{$animation-base} ease-in;

    &:first-child {
      transition-delay: grow-animation(0s);
    }
    &:nth-child(2n) {
      transition-delay: grow-animation(0.05s);
    }
    &:nth-child(3n) {
      transition-delay: grow-animation(0.1s);
    }
    &:nth-child(4n) {
      transition-delay: grow-animation(0.15s);
    }
    &:nth-child(5n) {
      transition-delay: grow-animation(0.2s);
    }
    &:nth-child(6n) {
      transition-delay: grow-animation(0.25s);
    }
    &:nth-child(7n) {
      transition-delay: grow-animation(0.3s);
    }
    &:last-child {
      transition-delay: grow-animation(0.35s);
    }
  }
}

@include media('>=#{$md}') {
  .nav {
    & .menu-item-list {
      column-count: 2;
      height: 50vw;
    }

    & .menu-item {
      @apply w-1/2;
    }

    & .menu-item a {
      font-size: 7vw;
    }
  }

  .nav--open {
    & .menu-item {
      &:first-child,
      &:nth-child(5n) {
        transition-delay: grow-animation(0s);
      }
      &:nth-child(2n),
      &:nth-child(6n) {
        transition-delay: grow-animation(0.1s);
      }
      &:nth-child(3n),
      &:nth-child(7n) {
        transition-delay: grow-animation(0.2s);
      }
      &:nth-child(4n),
      &:nth-child(8n) {
        transition-delay: grow-animation(0.3s);
      }
    }
  }
}

@include media('>=#{$lg}') {
  .single-portfolio .page-name {
    @apply text-white;
  }
  
  .nav .menu-item-list {
    height: 48vw;
  }
}

@include media('>=#{$xl}') {
  .nav {
    & .menu-item-list {
      max-width: 1100px;
      max-height: 510px;
    }

    & .menu-item a {
      font-size: 90px;
    }
  }

  .menu-aside {
    max-width: 1100px;
  }
}
