.page-name {
  transition: all #{$animation-base} ease-in;
}

.nav--open .page-name {
  opacity: 0;
}

[data-menu-style='light'] .page-name {
  @apply text-white;
}

[data-menu-style='dark'] .page-name {
  @apply text-black;
}

.menu-wrapper {
  opacity: 0;
  z-index: -1;
}

.menu-item {
  @apply pt-6 leading-none;
  opacity: 0;
  transform: translateY(20px);
  transition: none;
  cursor: pointer;
}

.menu-item a {
  @apply text-white no-underline font-bold leading-none block;
  font-size: 8vw;
}

.menu-item:hover a {
  @apply opacity-50;
}

.menu-item.active a {
  @apply text-primary;
}

.menu-aside {
  opacity: 0;
  transition: none;
  max-width: 1100px;
}

.menu-tagline {
  top: 7rem;
  left: 15.5rem;
}

.nav--open {
  & .menu-wrapper {
    opacity: 0.98;
    z-index: 30;
  }

  & .menu-aside {
    opacity: 1;
    transition: all #{$animation-base} ease-in 0.7s;
  }

  & .menu-item {
    transform: translateY(0);
    transition: all #{$animation-base} ease-in;
    opacity: 1;

    &:first-child {
      transition-delay: grow-animation(0s);
    }
    &:nth-child(2n) {
      transition-delay: grow-animation(0.05s);
    }
    &:nth-child(3n) {
      transition-delay: grow-animation(0.1s);
    }
    &:nth-child(4n) {
      transition-delay: grow-animation(0.15s);
    }
    &:nth-child(5n) {
      transition-delay: grow-animation(0.2s);
    }
    &:nth-child(6n) {
      transition-delay: grow-animation(0.25s);
    }
    &:nth-child(7n) {
      transition-delay: grow-animation(0.3s);
    }
    &:last-child {
      transition-delay: grow-animation(0.35s);
    }
  }
}

@include media('>=#{$md}') {
  .menu-item-list {
    column-count: 2;
    height: 50vw;
  }

  .menu-item {
    width: 50%;
  }

  .menu-item a {
    font-size: 7vw;
  }

  .nav--open {
    & .menu-item {
      &:first-child,
      &:nth-child(5n) {
        transition-delay: grow-animation(0s);
      }
      &:nth-child(2n),
      &:nth-child(6n) {
        transition-delay: grow-animation(0.1s);
      }
      &:nth-child(3n),
      &:nth-child(7n) {
        transition-delay: grow-animation(0.2s);
      }
      &:nth-child(4n),
      &:nth-child(8n) {
        transition-delay: grow-animation(0.3s);
      }
    }
  }
}

@include media('>=#{$lg}') {
  .menu-item-list {
    height: 48vw;
  }
}

@include media('>=#{$xl}') {
  .menu-item-list {
    max-width: 1100px;
    max-height: 510px;
  }

  .menu-item a {
    font-size: 90px;
  }

  .menu-aside {
    max-width: 1100px;
  }
}
