.button {
  @apply inline-block no-underline font-bold text-white py-3 px-8 bg-primary relative text-center;

  &:hover {
    @apply bg-primary-dark;
  }

  & > .loader {
    width: 32px;
    position: absolute;
    top: 48%;
    right: 4rem;
    transform: translateY(-50%);
    opacity: 0;
  }

  &[data-load-more-loading='true'] > .loader {
    opacity: 1;
  }

  &-lg {
    @apply py-6;
    padding-left: 48px;
    padding-right: 48px;

    &[data-load-more-loading='true'] {
      padding-right: 62px;
    }
  }
}

.button-outline-dark {
  @apply inline-block no-underline font-bold text-black py-3 px-8 border border-black text-center;

  &:hover {
    @apply bg-primary text-white;
  }
}

.button-outline-primary {
  @apply inline-block no-underline font-bold text-black py-3 px-8 border border-primary text-center;

  &:hover {
    @apply bg-primary text-white;
  }
}

.button-outline-dark {
  @apply inline-block no-underline font-bold text-black py-3 px-8 border border-black text-center;

  &:hover {
    @apply bg-black text-white;
  }
}

.button-outline-light {
  @apply inline-block no-underline font-bold text-white py-3 px-8 border border-white text-center;

  &:hover {
    @apply bg-white text-black;
  }
}

.button-link-primary {
  @apply inline-block underline font-bold text-primary border-0;

  &:hover {
    @apply no-underline;
  }
}

.button-slider {
  @apply border border-primary relative bg-white;
  width: 44px;
  height: 44px;
  padding: 2.75rem;
  cursor: pointer;

  &-secondary {
    @apply border-black;
  }

  &-secondary:hover {
    @apply bg-black;
  }

  &-arrow {
    height: 100%;
  }

  &-arrow-fill {
    fill: $primary;
  }

  &-secondary &-arrow-fill {
    fill: $black;
  }

  &-secondary:hover &-arrow-fill {
    fill: $white;
  }

  &-next {
    transform: rotate(180deg);
    margin: 0 0 0 -5px;
  }

  &-prev.button-slider-vertical {
    transform: rotate(90deg);
  }

  &-next.button-slider-vertical {
    transform: rotate(270deg);
  }
}

@include media('>=#{$md}') {
  .button-slider-large {
    width: 64px;
    height: 64px;
    padding: 4.75rem;
  }
}
