.button {
  @apply inline-block no-underline font-bold text-white py-3 px-8 bg-primary;

  &:hover {
    @apply bg-primary-dark;
  }
}

.button-outline-dark {
  @apply inline-block no-underline font-bold text-black py-3 px-8 border border-black;

  &:hover {
    @apply bg-black text-white;
  }
}

.button-outline-white {
  @apply inline-block no-underline font-bold text-white py-3 px-8 border border-white;

  &:hover {
    @apply bg-white text-black;
  }
}

.button-slider {
  @apply border border-primary relative;
  width: 44px;
  height: 44px;
  padding: 2.75rem;

  &:hover {
    @apply bg-primary;
  }

  &-arrow {
    height: 100%;
  }

  &-arrow-fill {
    fill: $primary;
  }

  &:hover &-arrow-fill {
    fill: $white;
  }

  &-next {
    transform: rotate(180deg);
    margin: 0 0 0 -5px;
  }
}
