
.menu-toggle {
  height: 7rem;
  transform: translateY(180%);

  &:active, &:focus {
    outline: none;
  }

	$trapezoid-width: 24;
  $trapezoid-height: 10;
  
	&:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4.25rem;
		border-right: #{$trapezoid-width}px solid $primary;
    border-top: #{$trapezoid-height}px solid transparent;
    border-bottom: #{$trapezoid-height}px solid transparent;
    height: 16rem;
    width: 0;
    transition: all 0.2s ease-in;
  }

  &:hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4.25rem;
		border-right: #{$trapezoid-width}px solid $primary-dark;
    border-top: #{$trapezoid-height}px solid transparent;
    border-bottom: #{$trapezoid-height}px solid transparent;
    height: 16rem;
    width: 0;
  }

  &[aria-expanded='true']:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4.25rem;
		border-right: #{$trapezoid-width}px solid #54585A;
    border-top: #{$trapezoid-height}px solid transparent;
    border-bottom: #{$trapezoid-height}px solid transparent;
    height: 16rem;
    width: 0;
  }

  &[aria-expanded='true']:hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4.25rem;
		border-right: #{$trapezoid-width}px solid $black;
    border-top: #{$trapezoid-height}px solid transparent;
    border-bottom: #{$trapezoid-height}px solid transparent;
    height: 16rem;
    width: 0;
  }
  
  & span {
    display: block;
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: $white;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);

    &:first-child {
      left: 7px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      left: 12px;
    }

    &:last-child {
      left: 17px;
    }
  }
  
  &[aria-expanded='true'] span {
    &:first-child {
      opacity: 0;
    }

    &:nth-child(2) {
      transform: translateY(-50%) rotate(45deg);
      height: 60%;
    }

    &:nth-child(3) {
      transform: translateY(-50%) rotate(-45deg);
      height: 60%;
    }

    &:last-child {
      opacity: 0;
    }
  }
}

// @include media('>md') {

//   .menu-toggle {
//     height: 7rem;
//     transform: translateY(180%);
  
//     &:active, &:focus {
//       outline: none;
//     }
  
//     $trapezoid-width: 24;
//     $trapezoid-height: 10;
    
//     &:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: -4.25rem;
//       border-right: #{$trapezoid-width}px solid $primary;
//       border-top: #{$trapezoid-height}px solid transparent;
//       border-bottom: #{$trapezoid-height}px solid transparent;
//       height: 16rem;
//       width: 0;
//       transition: all 0.2s ease-in;
//     }
  
//     &:hover:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: -4.25rem;
//       border-right: #{$trapezoid-width}px solid $primary-dark;
//       border-top: #{$trapezoid-height}px solid transparent;
//       border-bottom: #{$trapezoid-height}px solid transparent;
//       height: 16rem;
//       width: 0;
//     }
  
//     &[aria-expanded='true']:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: -4.25rem;
//       border-right: #{$trapezoid-width}px solid #54585A;
//       border-top: #{$trapezoid-height}px solid transparent;
//       border-bottom: #{$trapezoid-height}px solid transparent;
//       height: 16rem;
//       width: 0;
//     }
  
//     &[aria-expanded='true']:hover:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: -4.25rem;
//       border-right: #{$trapezoid-width}px solid $black;
//       border-top: #{$trapezoid-height}px solid transparent;
//       border-bottom: #{$trapezoid-height}px solid transparent;
//       height: 16rem;
//       width: 0;
//     }   
    
//   }

// }