*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 4px;
  overflow-x: hidden;
}

body {
  font-size: 4rem;
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85vw;
  margin: 0 auto;
}

@include media('>=#{$lg}') {
  .wrapper {
    width: 90vw;
  }
}
