*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:active,
a:focus,
a:active {
  outline: none;
}

html {
  font-size: 4px;
  overflow-x: hidden;
}

body {
  font-size: 4rem;
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: calc(100% - 16rem);
  margin: 0 auto;
}

.wrapper-sm {
  max-width: 800px;
  width: calc(100% - 16rem);
  margin: 0 auto;
}

.mobile-heading {
  font-size: 9vw;
}

@include media('>=#{$lg}') {
  .wrapper,
  .wrapper-sm {
    width: 90vw;
  }
}
