@font-face {
  font-family: 'AvenirTB';
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
  src: local('Avenir Next LT Pro Regular'), local('AvenirNextLTPro-Regular'),
    url('../fonts/AvenirNextLTPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirTB';
  src: url('../fonts/AvenirNextLTPro-It.eot');
  src: local('Avenir Next LT Pro Italic'), local('AvenirNextLTPro-It'),
    url('../fonts/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-It.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-It.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirTB';
  src: url('../fonts/AvenirNextLTPro-Demi.eot');
  src: local('Avenir Next LT Pro Demi'), local('AvenirNextLTPro-Demi'),
    url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirTB';
  src: url('../fonts/AvenirNextLTPro-DemiIt.eot');
  src: local('Avenir Next LT Pro Demi Italic'), local('AvenirNextLTPro-DemiIt'),
    url('../fonts/AvenirNextLTPro-DemiIt.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-DemiIt.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-DemiIt.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-DemiIt.svg#AvenirNextLTPro-DemiIt')
      format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirTB';
  src: url('../fonts/AvenirNextLTPro-Bold.eot');
  src: local('Avenir Next LT Pro Bold'), local('AvenirNextLTPro-Bold'),
    url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
