// Responsive Breakpoints
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';

$black: #3f4243;
$grey: #cbcccd;
$white: #ffffff;
$primary: #da291c;
$primary-dark: #ae231e;

$animation-base: 0.2s;
