.btn {
  color: $primary-color;
  text-decoration: none;
  display: inline-block;
  padding: 4rem 12rem;
  margin: 0;
  border: 2px solid $primary-color;
  text-align: center;
  font-family: $sans-font;

  &--ghost {
    background-color: transparent;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  &--ghost-light {
    color: $white;
    border-color: $white;

    &:hover {
      color: $primary-color;
      background-color: $white;
    }
  }

  &--light {
    color: $primary-color;
    border-color: $white;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: transparent;
    }
  }
}
