.contact-form {
  & .gform_body {
    & ul.gform_fields {
      display: flex;
      flex-wrap: wrap;
    }

    & .contact-form__input {
      width: 100%;
      position: relative;
      margin-top: 2rem;

      & > label {
        position: absolute;
        top: 4.5rem;
        left: 3rem;
        color: $white;
        font-size: 3.5rem;

        &.label-hide {
          display: none;
        }
      }

      &
        .ginput_container
        input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
        width: 100%;
        background-color: $primary-color;
        border: 1px solid $white;
        border-radius: 0px !important;
        padding: 2.25rem;
        color: $white;
        line-height: 1;

        &:focus,
        &:active {
          outline: none;
        }
      }

      & .ginput_container textarea {
        width: 100%;
        height: 120px;
        background-color: $primary-color;
        border: 1px solid $white;
        border-radius: 0px !important;
        padding: 2.25rem;
        color: $white;

        &:focus,
        &:active {
          outline: none;
        }
      }

      &--name {
        width: 50%;
      }
      &--number {
        width: 50%;
      }
    }
  }

  & .gform_footer {
    text-align: right;
    margin-top: 0;

    & input {
      text-decoration: none;
      display: inline-block;
      padding: 2rem 12rem;
      margin: 0;
      border: 2px solid $white;
      text-align: center;
      font-family: $sans-font;
      color: $primary-color;
      border-color: $white;
      background-color: $white;
      cursor: pointer;

      &:hover {
        color: $white;
        background-color: transparent;
      }
    }
  }
}

@include media('<642px') {
  .contact-form {
    & .gform_body {
      & .contact-form__input {
        &--name {
          width: 100%;
        }
        &--number {
          width: 100%;
        }
      }
    }

    & .gform_footer {
      &
        input:not([type='radio']):not([type='checkbox']):not([type='image']):not([type='file']) {
        line-height: 1;
      }
    }
  }
}

#gform_confirmation_wrapper_1 {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    font-size: 4.5rem;
    line-height: 1.5;
    margin: 0;
  }
}

.gform_anchor {
  display: none !important;
}
