.slider-nav {
  margin: 6rem 6rem 0;
  height: 22px;

  &--right {
    text-align: right;
  }

  &__btn {
    background: none;
    border: 0;
    height: 100%;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: none;
    }

    & svg {
      height: 100%;
    }

    & svg polygon {
      fill: $white;
    }

    &--dark svg polygon {
      fill: $black;
    }

    &.slider-prev {
      transform: rotate(180deg);
      margin-right: 2rem;
    }
  }
}

@include media('<37.5em') {
  .slider-nav {
    display: none;
  }
}
