// Fonts
$display-font: 'Century Gothic Bold', sans-serif;
$serif-font: 'Merriweather', serif;
$sans-font: 'Century Gothic', sans-serif;

// Header 
$header-l: 32rem;
$header-m: 20rem;
$header-s: 15rem;

// Type Scale
$type-scale: (
  xs: 100px,
  s: 200px,
  m: 300px,
  l: 400px,
  xl: 500px
);

// Spacing
$gap: (
  xs: 100px,
  s: 200px,
  m: 300px,
  l: 400px,
  xl: 500px
);

// Responsive Breakpoints
$breakpoints: (
  xs: 320px,
  s: 500px,
  m: 780px,
  l: 1100px,
  xl: 1400px
);

// Colors
$black: #191919;
$white: #fff;

$primary-color: $black;
$accenct-color: #111;

// Gutters
$gutter: 2rem;
$tabletGutter: 1.5rem;
$mobileGutter: 1rem;
