.featured-in {
  padding: 20rem 0 15rem;
  background-color: $primary-color;
  color: $white;
  overflow: hidden;

  &__heading {
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 12rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &__wrapper {
      margin: 0 -20rem 0 0;
    }

    &__item {
      width: calc((100% / 5) - 20rem);
      margin: 0 20rem 10rem 0;
      height: auto;
    }
  }
}

@include media('<1000px') {
  .featured-in {
    &__list {
      &__item {
        width: calc((100% / 4) - 20rem);
      }
    }
  }
}

@include media('<700px') {
  .featured-in {
    &__list {
      &__item {
        width: calc((100% / 3) - 20rem);
      }
    }
  }
}

@include media('<500px') {
  .featured-in {
    &__list {
      &__wrapper {
        margin: 0 -10rem 0 0;
      }
      &__item {
        width: calc((100% / 2) - 10rem);
        margin: 0 10rem 10rem 0;
      }
    }
  }
}
