@font-face {
    font-family: 'CeraGR-RegularItalic';
    src: url('assets/fonts/CeraGR/CeraGR-RegularItalic.eot');
    src: local('☞Cera GR Regular Italic'), local('CeraGR-RegularItalic'),
        url('assets/fonts/CeraGR/CeraGR-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-RegularItalic.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-RegularItalic.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-RegularItalic.svg#CeraGR-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-BoldItalic.eot');
    src: local('☞Cera GR Bold Italic'), local('CeraGR-BoldItalic'),
        url('assets/fonts/CeraGR/CeraGR-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-BoldItalic.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-BoldItalic.svg#CeraGR-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-LightItalic.eot');
    src: local('☞Cera GR Light Italic'), local('CeraGR-LightItalic'),
        url('assets/fonts/CeraGR/CeraGR-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-LightItalic.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-LightItalic.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-LightItalic.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-LightItalic.svg#CeraGR-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-Regular.eot');
    src: local('☞Cera GR'), local('CeraGR-Regular'),
        url('assets/fonts/CeraGR/CeraGR-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-Regular.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-Regular.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-Regular.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-Regular.svg#CeraGR-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-BlackItalic.eot');
    src: local('☞Cera GR Black Italic'), local('CeraGR-BlackItalic'),
        url('assets/fonts/CeraGR/CeraGR-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-BlackItalic.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-BlackItalic.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-BlackItalic.svg#CeraGR-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-MediumItalic.eot');
    src: local('☞Cera GR Medium Italic'), local('CeraGR-MediumItalic'),
        url('assets/fonts/CeraGR/CeraGR-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-MediumItalic.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-MediumItalic.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-MediumItalic.svg#CeraGR-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-Medium.eot');
    src: local('☞Cera GR Medium'), local('CeraGR-Medium'),
        url('assets/fonts/CeraGR/CeraGR-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-Medium.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-Medium.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-Medium.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-Medium.svg#CeraGR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-Thin.eot');
    src: local('☞Cera GR Thin'), local('CeraGR-Thin'),
        url('assets/fonts/CeraGR/CeraGR-Thin.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-Thin.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-Thin.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-Thin.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-Thin.svg#CeraGR-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-ThinItalic.eot');
    src: local('☞Cera GR Thin Italic'), local('CeraGR-ThinItalic'),
        url('assets/fonts/CeraGR/CeraGR-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-ThinItalic.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-ThinItalic.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-ThinItalic.svg#CeraGR-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-Black.eot');
    src: local('☞Cera GR Black'), local('CeraGR-Black'),
        url('assets/fonts/CeraGR/CeraGR-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-Black.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-Black.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-Black.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-Black.svg#CeraGR-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-Bold.eot');
    src: local('☞Cera GR Bold'), local('CeraGR-Bold'),
        url('assets/fonts/CeraGR/CeraGR-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-Bold.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-Bold.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-Bold.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-Bold.svg#CeraGR-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CeraGR';
    src: url('assets/fonts/CeraGR/CeraGR-Light.eot');
    src: local('☞Cera GR Light'), local('CeraGR-Light'),
        url('assets/fonts/CeraGR/CeraGR-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/CeraGR/CeraGR-Light.woff2') format('woff2'),
        url('assets/fonts/CeraGR/CeraGR-Light.woff') format('woff'),
        url('assets/fonts/CeraGR/CeraGR-Light.ttf') format('truetype'),
        url('assets/fonts/CeraGR/CeraGR-Light.svg#CeraGR-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
